.menu{
    background-color: greenyellow;
}
footer {
    color: white;
    background-color: rgb(239, 148, 21);
    padding: 10px 20px;
  
  }
  .footerA {
    
    text-align: center;
    background-color: rgb(0, 0, 0);
  }
  .footerA .grupo-1 {
  
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .footerA .grupo-1 .box h2 {
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .footerA .grupo-1 .box p {
    color: #fffdfd;
    margin-bottom: 10px;
  }
  .footerA .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    background-color: #0d2033;
  }
  .footerA .grupo-1 .red-social a:hover {
    color: aqua;
  }
  
  .footerA .grupo-2 {
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
  }
  .footerA .grupo-2 small {
    font-size: 15px;
  }